.container-form-confirmation {
  position: fixed;
  inset: 0;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  width: 100%;
  min-height: 100vh;
}

.form-confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #ffa500 3px;
  width: 300px;
  height: 100px;
  font-size: 1.2rem;
  background-color: white;
  z-index: 100;
}

.form-confirmation__buttons {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}
.form-confirmation__buttons > input {
  font-size: 1.2rem;
}
