:root {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: monospace;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}
